
<div class="container d-flex flex-column cuerpo">
    <h1 class="text-center mt-5">{{titulo}}</h1>
    <hr>
    <div class="container-fluid w-{{width}} my-4">
        <table class="table table-striped table-sm container">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Aparición</th>
                    <th>Pantalla/tamaño</th>
                    <th>Tipo de RAM</th>
                    <th>Tipo de Disco</th>
                    <th>Marca Mother</th>
                    <th>Modelo Mother</th>
                    <th>Marca CORE </th>
                    <th>Modelo CORE</th>
                    <th>Año CORE</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {{#each results}}
                <tr>
                    <td> {{d_id}} </td>
                    <td> {{d_AI_tipo}} </td>
                    <td> {{d_marca}} </td>
                    <td> {{d_modelo}} </td>
                    <td> {{d_añoLanz}} </td>
                    <td> {{d_Pant_inch}} </td>
                    <td> {{d_RAM_tipo}} </td>
                    <td> {{d_DSK_tipo}} </td>
                    <td> {{d_MB_marca}} </td>
                    <td> {{d_MB_code}} </td>
                    <td> {{d_CORE_Marca}} </td>
                    <td> {{d_CORE_code}} </td>
                    <td> {{d_CORE_año}} </td>
                    {{> modals}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="text-center validacion">
            <h2 class="text-warning">
                {{validacion}}
            </h2>
        </div>

    </div>
</div>

{{!-- Mostramos todos los productos a los clientes de la tabla Productos --}}
</div>


